body {
  color: gray;
  background-color: rgb(68, 0, 68);
  border: 3px solid black;
}

#one {
  color: rgba(148, 17, 153, 0.1);
}
#two {
  color: rgba(148, 17, 153, 0.2);
}

#three {
  color: rgba(148, 17, 153, 0.5);
}

#four {
  color: rgba(148, 17, 153, 1);
}
