.title{
  background: #0466C8;
  height: 10vh;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.body{
  background: #001233;
  height: 90vh;

}

  

*{
  margin: 0;
  padding: 0;
  border-width: 0;

  color: #edf2f4;;
}